<h1>Produtos</h1>
<table mat-table [dataSource]="products" class="">
    <ng-container matColumnDef="options">
        <mat-header-cell  *matHeaderCellDef></mat-header-cell>
        <mat-cell  *matCellDef="let element"> <button mat-button routerLink="../editproduct/{{element.id}}"><mat-icon>create</mat-icon></button></mat-cell>
    </ng-container>
    <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.code}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>