<mat-toolbar class="header">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav">
  <mat-sidenav #drawer class="app-sidenav" mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="">
        <div class="center-flex ">
          <mat-icon class="sideIcon">home</mat-icon><span matLine >Inicio</span>     
        </div>
      </mat-list-item>
      <mat-list-item routerLink="product">
        <mat-icon class="sideIcon">inventory</mat-icon><span>Produtos</span>     
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>