.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 
.sidenav {
    height: 100%;
}
.sideIcon {
    font-size: 24px;    
}

.center-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }